.comments-length {
   border-top: 1px solid lightgrey;
   padding-top: 20px;
}

.create-comment-section {
   display: flex;
   margin-top: 10px;
   padding-top: 15px;
}

.comment-profile-icon-01 {
   margin: 0px 20px 0px 10px;
   border: 1px solid rgb(151, 49, 151);
   font-size: 30px;
   border-radius: 30px;
   width: 30px;
   height: 30px;
   text-align: center;
   padding: 5px;
   background-color: rgb(184, 30, 102);
   color: white;
}

.comment-input-buttons {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.comment-input input {
   border: 1px solid white;
   border-bottom: 1px solid lightgrey;
   margin-bottom: 10px;
   width: 100%;
   padding-bottom: 5px;
}

.comment-input input:focus {
   outline: none !important;
   border: 1px solid white;
   border-bottom: 2px solid black;
   margin-bottom: 10px;
   width: 100%;
}

.comment-input button {
   outline: none !important;
   border: 1px solid white;
   border-bottom: 1px solid lightgrey;
   margin-bottom: 10px;
   padding-bottom: 5px;
   text-align: left;
   color: grey;
   background-color: white;
   font-family: 'Roboto', sans-serif;
   cursor: text;
   width: 100%;
}

.comment-profile-icon-02 {
   font-size: 40px;
   text-align: center;
   padding: 5px;
   color: rgb(0, 110, 255);
   margin-right: 10px;
}

.comment-buttons {
   text-align: right;
}

.comment-buttons-cancel {
   outline: none !important;
   border-style: none;
   font-family: 'Roboto', sans-serif;
   margin-right: 12px;
   background-color: white;
   color: grey;
   font-size: 15px;
   font-weight: bold;
   padding: 10px 15px;
   border-radius: 5px;
}

.comment-buttons-comment {
   outline: none !important;
   border-style: none;
   font-family: 'Roboto', sans-serif;
   background-color: lightgrey;
   color: white;
   font-size: 15px;
   font-weight: bold;
   padding: 10px 15px;
   border-radius: 3px;
}

.comment-buttons-comment-active {
   outline: none !important;
   border-style: none;
   font-family: 'Roboto', sans-serif;
   background-color: lightgrey;
   color: white;
   font-size: 15px;
   font-weight: bold;
   padding: 10px 15px;
   border-radius: 3px;
   background-color: rgb(0, 110, 255);
}

.comment-buttons button:hover {
   cursor: pointer;
}

.hidden {
   display: none;
}

.video-comment-index-item {
   display: flex;
   margin: 25px 0px;
}

.video-comment-index-item-icon {
   margin: 0px 20px 0px 10px;
   border: 1px solid rgb(151, 49, 151);
   font-size: 25px;
   border-radius: 25px;
   width: 25px;
   height: 25px;
   text-align: center;
   padding: 5px;
   background-color: rgb(184, 30, 102);
   color: white;
}

// .video-comment-index-item-info {
//    justify-content: left;
// }

.video-comment-index-item-info-top {
   display: flex;
}

.video-comment-index-item-info-top-01{
   font-size: 13px;
   font-weight: bold;
}

.video-comment-index-item-check {
   font-size: 12px;
   color: rgb(101, 101, 214);
   margin-left: 3px;
}

.video-comment-index-item-info-top-02{
   font-size: 13px;
   color: grey;
   margin-left: 5px;
}

.video-comment-body {
   font-size: 13px;
   margin-top: 10px;
}

.video-comment-index-item-delete {
   color: grey;
   cursor: pointer;
   font-size: 13px;
   margin-left: 15px;
}

.video-comment-index-item-delete span{
   margin-left: 3px;
}

.video-comment-index-item-delete:hover {
   color: red;
}
