.videos-index {
    display: flex;
    margin: 25px 10px 0px 0px;
}

.videos-index h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 0px 0px 30px 13px;
}

.video-index-sidebar {
    flex: .13;
    margin-right: 20px;
    font-family: 'Roboto', sans-serif;
}

.video-index-home {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: rgb(92, 86, 86);
    padding: 17px 30px;
}

.video-index-home:hover {
    background-color: lightgrey;
}

.video-index-home i {
    font-size: 20px;
    color: rgb(92, 86, 86);
    margin-right: 20px;
}

.video-index-github {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: rgb(92, 86, 86);
    padding: 17px 30px;
}

.video-index-github i {
    font-size: 20px;
    color: rgb(92, 86, 86);
    margin-right: 20px;
}

.video-index-github:hover {
    background-color: lightgrey;
}

.video-index-linkedin {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: rgb(92, 86, 86);
    padding: 17px 30px;
}

.video-index-linkedin i {
    font-size: 20px;
    color: rgb(92, 86, 86);
    margin-right: 20px;
}

.video-index-linkedin:hover {
    background-color: lightgrey;
}

.video-index-angellist {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: rgb(92, 86, 86);
    padding: 17px 30px;
}

.video-index-angellist i {
    font-size: 20px;
    color: rgb(92, 86, 86);
    margin-right: 20px;
}

.video-index-angellist:hover {
    background-color: lightgrey;
}

.video-index-main {
    flex: .87;
}

.videos-all {
    display: flex;
    flex-wrap: wrap;
}

.video-index-item {
    font-family: 'Roboto', sans-serif;
    margin: 0px 17px 33px 0px;
}

.video-top {
    display: flex;
    align-items: center;
    margin: 10px 0px 5px 5px;
}

.video-top .fas {
    margin-right: 10px;
    font-size: 25px;
    color: orangered;
    background-color: white;
}

.video-top div {
    font-size: 14px;
    font-weight: bold;
}

.video-middle {
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-bottom: 5px;  
}

.video-middle div {
    margin-right: 5px;
    font-size: 14px;
    color: grey;
}

.video-middle i {
    color: rgb(101, 101, 214);
    font-size: 12px
}

.video-bottom {
    display: flex;
    align-items: center;
    margin-left: 40px;
    color: grey;   
}

.video-bottom span {
    margin-right: 5px;
    font-size: 14px;
}
